@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-accent: #5f35f5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: white;
  color: var(--primary-accent);
}
